NODE_ENV=development
WEB_URL=http://localhost:3000
API_URL=http://localhost:4000
NEXT_PUBLIC_API_URL=http://localhost:4000/api/v1
NEXT_PUBLIC_SOCKET_URL=http://localhost:4000
DATABASE_URL=postgresql://scan:scan@localhost:5432/scan_krwalo?schema=public
REDIS_URL=redis://localhost:6379
JWT_ACCESS_SECRET=change-me-access-secret-at-least-32-chars
JWT_REFRESH_SECRET=change-me-refresh-secret-at-least-32-chars
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=30d
COOKIE_DOMAIN=localhost
CORS_ORIGINS=http://localhost:3000
S3_ENDPOINT=http://localhost:9000
S3_REGION=us-east-1
S3_BUCKET=scan-krwalo
S3_ACCESS_KEY=minioadmin
S3_SECRET_KEY=minioadmin
S3_FORCE_PATH_STYLE=true
FIREBASE_PROJECT_ID=scan-krwalo
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
FIREBASE_VAPID_PUBLIC_KEY=BP0seRVF_qwHXSXBuAR5486OYAajdGb0xJtkjYlboTqob6YB54D3iaQ7jKanmKicbqVRYTReBjonE_bOwC9kbVs
ADMIN_SEED_USERNAME=admin
ADMIN_SEED_EMAIL=admin@scan-krwalo.local
ADMIN_SEED_PASSWORD=ChangeMeAdmin123!
TELEGRAM_BOT_TOKEN=
TELEGRAM_BOT_USERNAME=
TELEGRAM_WEBHOOK_SECRET=
